$orange: #fc6744;
*,html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
a {
    text-decoration: none;
}
.wrap {
    position: relative;
    width: 100%;
    .header{
        width: 1300px;
        top: 50px;
        margin-left: 70px;
        position: absolute;
        .header-line {
            padding: 5px;
            position: fixed;
            width: 90%;
            z-index: 5;
            .header-logo{
                display: inline-block;
                border: 3.6px solid #170f1c;
                width: 149px;
                font-size: 37.8px;
                text-align: center;
                color: black;
                font-weight: 600;
                opacity: 0.7;
                    & span{
                        color:$orange;
                    }
                }
            }
            .header-burger {
                padding: 20px;
                & img{
                    width: 34px;
                    height: 24px;
                }
            }
        }
        .header-title {
            padding-top: 100px;
            padding-bottom: 60px;       
            font-size: 50px;
            line-height: 46px;
            color: #0000006b;
            font-weight: 600;
            text-align: center;
            
            & span{
                color: $orange;
            }       
        }
        .header-subtitle {
            width: 709px;
            height: 200px;
            margin: auto;
            margin-top: -40px;
            & p{
                width: 709px;
                height: 68px;
                font-size: 16px;
                line-height: 25px;
                color: #0000006b;
                font-weight: 400;
                text-align: center;              
            }
        }
        .header-info {
            width: 372px;
            height: 420px;
            border-radius: 2px;
            filter: drop-shadow(0 0 28.5px rgba(20,20,21,0.2));
            background-color: #ffffff;         
            & h4{
                font-size: 20px;
                line-height: 25px;
                color: #0000006b;
                font-weight: 600;
                text-align: center;
                margin-bottom: 50px;
                margin-top: 15px; 
                & span{
                    color: $orange;
                }
            }
        }
        .form-floating{
            width: 70%;
            margin: auto;
            
            .form-control {
                border: none;
                border-bottom: 1px solid #0000006b;
            }
            #floatingTextarea2 {
                margin-bottom: 20px;
            }
        }
        .header-send{
            width: 228px;
            height: 55px;
            border-radius: 27px;
            filter: drop-shadow(1.91px 10.833px 10px rgba(20,20,21,0.08));
            background-color: #ff5c36;
            border: 1px solid rgba(1,2,2,0.07);   
            cursor: pointer; 
            margin-left: 18%;
            & span{
                color: white;
                &::after{
                    content: '\2192';
                    position: relative;
                    left: 10%;
                    
                }
            }
        }
    
    // section 1
    .section1{
        width: 1300px;
        top: 1000px;
        margin-left: 70px;
        position: relative;
        .block-section1{
            width: 90%;
            margin: auto;
            .section1-title {
                width: 100%;
                padding-top: 60px;
                padding-bottom: 10px;       
                font-size: 50px;
                line-height: 46px;
                font-weight: 600;
                text-align: center;  
                & span{
                    color: $orange;
                }       
            }
            .section1-subtitle{
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 24px;
                color: #414141;
                font-weight: 400;
                text-align: center;               
            }          
        }
        .block1-section1 {
            width: 90%;
            margin: auto;
            margin-top: 130px;
            .conteiner1 {
                width: 262px;
                height: 263px;
                filter: drop-shadow(0 0 17.5px rgba(20,20,21,0.21));
                background-color: #4eb2f7;
                .conteiner1-foto {   
                    width: 43px;
                    height: 43px;
                    background: url(../assets/img/magn.png) no-repeat;
                    margin: auto;
                    margin-top: 50px;
                } 
                & h4{
                    font-size: 20px;
                    letter-spacing: 0px;
                    line-height: 42px;
                    color: #ffffff;
                    font-weight: 600;
                    text-align: center; 
                }
                & p{
                    width: 200px;
                    height: 39px;
                    font-size: 15px;
                    letter-spacing: 0px;
                    line-height: 22px;
                    color: #ffffff;
                    font-weight: 400;
                    font-family: "Open Sans";
                    text-align: center;  
                    margin: auto;             
                }
                & .btn{
                    color: #000;
                    border-radius: 50px;
                    border: none;
                    width: 90%;
                    height: 60px;
                    border-radius: 27px;
                    filter: drop-shadow(1.042px 5.909px 7px rgba(20,20,21,0.09));
                    background-color: #ffffff;           
                    position: absolute;
                    bottom: -30px;
                    left: 13px;
                    cursor: pointer;
                    &::before{
                        content: '';
                        background-image: url(../assets/img/plus.png);
                        background-repeat: no-repeat;
                        background-position: 0px 4px;
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        margin-right: 25px;
                    }
                }     
            }
            & .second{
                background-color: #c049f8;
                & .second-foto {
                    background: url(../assets/img/gyk.png) no-repeat;
                    width: 52px;
                    height: 52px;
                    margin-top: 42px;
                }
            }
            & .third{
                background-color: #817eff;
                & .third-foto{
                    background: url(../assets/img/mech.png) no-repeat;
                    background-size: 100%;
                    width: 60px;
                    height: 47px;
                    margin-top: 47px;
                }
            }
            & .fourth {
                background-color: #f74770;
                & .fourth-foto{
                    background: url(../assets/img/photik.png) no-repeat;
                    width: 60px;
                    height: 51px;
                    margin-top: 44px;
                }
            }
        }
    }
    // section 2
    .section2{
        width: 1300px;
        top: 1150px;
        margin-left: 70px;
        position: relative;
        .block-section2 {
            width: 90%;
            margin: auto;
            .section2-title{
                width: 100%;
                padding-top: 60px;
                padding-bottom: 10px;       
                font-size: 50px;
                line-height: 46px;
                font-weight: 600;
                text-align: center;  
                & span{
                    color: $orange;
                }                   
            }
            .section2-subtitle {
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 24px;
                color: #414141;
                font-weight: 400;
                text-align: center;             
            }
        }
        .section2-conteiner{
            flex-wrap: wrap;
            width: 1300px;
            margin: auto;
            .block-orange{
                width: 360px;
                height: 358px;
                background-color: #ff5c36;
                margin: 10px;          
            }
        }
    }
    // section 3
    .section3{
        width: 1300px;
        top: 1150px;
        margin-left: 70px;
        position: relative;
        .block-section3{
            width: 90%;
            margin: auto;
            .section3-title{
                width: 100%;
                padding-top: 60px;
                padding-bottom: 10px;       
                font-size: 50px;
                line-height: 46px;
                font-weight: 600;
                text-align: center;  
                & span{
                    color: $orange;
                }                              
            }
        }
        .section3-subtitle{
            font-size: 16px;
            letter-spacing: 0px;
            line-height: 24px;
            color: #414141;
            font-weight: 400;
            text-align: center;        
        }
        .block2-section3{
            .block2-section3-left{
                .section3-foto{
                    width: 160px;
                    height: 142px;
                    border-radius: 2px;
                    filter: drop-shadow(0 0 18px rgba(20,20,21,0.2));
                    background-color: #ffffff;             
                    margin: 5px;
                    & img {
                        width: 100px;
                        height: 100px;
                        position: relative;
                        left: 15px;
                        top: 10px;
                    }
                    
                }
            }
            .section3-text{
                & h5 {
                    font-size: 30px;
                    line-height: 46px;
                    color: #000000;
                    font-weight: 400;
                    margin-top: 50px;            
                }
                .line {
                    width: 60px;
                    height: 3px;
                    background: $orange;
                    margin-bottom: 10px;
                }
                & p{
                    width: 521px;
                    height: 120px;
                    font-size: 16px;
                    line-height: 25px;
                    color: #000000;
                    font-weight: 400;
                    margin: 15px 0;
                    display: block;            
                }
                & .btn{
                    color: #000;
                    border-radius: 50px;
                    border: none;
                    width: 20%;
                    height: 60px;
                    border-radius: 27px;
                    filter: drop-shadow(1.042px 5.909px 7px rgba(20,20,21,0.09));
                    background-color: #ffffff;           
                    position: absolute;
                    bottom: 20px;
                    cursor: pointer;
                    &::before{
                        content: '';
                        background-image: url(../assets/img/plus.png);
                        background-repeat: no-repeat;
                        background-position: 0px 4px;
                        width: 25px;
                        height: 25px;
                        display: inline-block;
                        margin-right: 25px;
                    }
                }

            }
            .section3-right-foto{
                background: url(../assets/img/applewatch.png) no-repeat;
                width: 400px;
                height: 400px;
                background-size: 100%;
                position: relative;
                top: 80px;
                
            }
        }
    }
    // section 4
    .section4{
        width: 1300px;
        top: 1150px;
        margin-left: 70px;
        position: relative;
        .block-section4 {
            width: 90%;
            margin: auto; 
            .section4-title{
                width: 100%;
                padding-top: 60px;
                padding-bottom: 10px;       
                font-size: 50px;
                line-height: 46px;
                font-weight: 600;
                text-align: center;  
                & span{
                    color: $orange;
                }              
            }
            .section4-subtitle{
                font-size: 16px;
                letter-spacing: 0px;
                line-height: 24px;
                color: #414141;
                font-weight: 400;
                text-align: center;
            }
        }
        .block2-section4{
            width: 90%;
            margin: auto;
            .block-orange{
                width: 360px;
                height: 358px;
                background-color: #ff5c36;
                margin: 10px;  
                position: relative;
                .orange-name{
                    width: 262px;
                    height: 95px;
                    border-radius: 2px;
                    filter: drop-shadow(1.042px 5.909px 8px rgba(20,20,21,0.08));
                    background-color: #ffffff; 
                    position: absolute;      
                    bottom: -25px;
                    left: 50px; 
                    & h4{
                        font-size: 30px;
                        line-height: 46px;
                        color: #000000;
                        font-weight: 600;
                        text-align: center;            
                    }  
                    & p{ 
                        font-size: 16px;
                        line-height: 48px;
                        color: #000000;
                        font-weight: 300;
                        text-align: center;
                    }
                }        
            }
            & .mid{
                width: 360px;
                height: 358px;
                filter: drop-shadow(0 0 24.5px rgba(20,20,21,0.11));
                background-color: #fff3f0;  
                .metka{
                    font-size: 11px;
                    line-height: 20px;
                    color: #000000;
                    font-weight: 400;
                    text-align: center; 
                    position: relative;
                    top: 60px;
                    .progress{
                        width: 60%;
                        margin: auto;
                        height: 5px;
                        background-color: #707070;
                        margin-bottom: 5px;
                        .style{
                            background-color: $orange;
                        }
                    }         
                }
                .name-info {
                    width: 100%;
                    margin: auto;
                    position: absolute;
                    bottom: 0;
                    text-align: center;
                    & h4{
                        font-size: 30px;
                        line-height: 46px;
                        color: #202020;
                        font-weight: 600; 
                        display: block;         
                    }
                    & a{
                        font-size: 17px;
                        line-height: 48px;
                        color: #ff724c;
                        font-weight: 300;
                        display: block;  
                        height: 30px;         
                    }
                    nav{
                        width: 40%;
                        height: 50px;
                        margin-left: 90px;
                        .menu {
                            display: flex;
                        }
                    }
                    
                }         
            }
        }
    }  
    // section 5 
        .section5-text{
            display: flex;
            justify-content: space-between;
            padding: 135px 120px;    
        div{
            border-radius: 1px;
            filter: drop-shadow(0 0 13.5px rgba(20,20,21,0.09));
            background-color: #ffffff; 
            width: 480px;
            text-align: center;       
                .circle {
                    position: relative;
                    display: inline-block;
                    top: -35px;
                    width: 98px;
                    height: 98px;
                    border-radius: 49px;
                    filter: drop-shadow(0 0 0.5px rgba(20,20,21,0.75));
                    background-color: #ffffff;            
                } 
                p{
                    font-size: 17px;
                    font-weight: 400;
                    span{
                        font-weight: 600;
                        font-style: normal;
                    }
                }
                ul{
                    display: flex;
                    justify-content: center;
                    margin-left: -30px;
                }    
            }    
        }
    .carousel-inner{
        height: 400px;
        }
    .carousel{
        width: 100%;
        height: 500px;
        }
    .carousel-control-prev{
        opacity: 1;
            &:hover{
                background: none;
            }
            &:focus{
                background: none;
                div{
                    background: $orange url(../assets/img/arrow-white-left.ico) no-repeat;
                    background-size: 20px 20px;
                    background-position: 13px center;
                }
            }
        div{
            margin-right: 140px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: url(../assets/img/arrow-black-left.ico) no-repeat;
            background-size: 20px 20px;
            background-position: 13px center;
                &:hover{
                    background: $orange url(../assets/img/arrow-white-left.ico) no-repeat;
                    background-size: 20px 20px;
                    background-position: 13px center;
                }
            }
        }
    .carousel-control-next{
        opacity: 1;
            &:hover{
                background: none;
            }
            &:focus{
                background: none;
            div{
                background: $orange url(../assets/img/arrow-white-left.ico) no-repeat;
                background-size: 20px 20px;
                background-position: 13px center;
                }
            }
        div{
            margin-left: 140px;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: url(../assets/img/arrow-black-left.ico) no-repeat;
            background-size: 20px 20px;
            background-position: 13px center;
            transform: rotate(180deg);
                &:hover{
                    background: $orange url(../assets/img/arrow-white-left.ico) no-repeat;
                    background-size: 20px 20px;
                    background-position: 13px center;
                }
            }
        }
    .carousel-indicators {
        button{
        width: 18px !important;
        height: 6px !important;
        background-color: #e0e0e0 !important;
        border-radius: 3px !important;
            }
        .active{
        background-color: $orange !important;
        }
    }  
    .section7{
        width: 1300px;
        height: 50px;
        top: 1150px;
        margin-left: 70px;
        position: relative;
        ul{
            width: 90%;
            li{
                margin: 0 40px;
            }
            & img{
                width: 100%;
                height: 100%;
                opacity: 0.6;
            }
        }
    }  
    // footer 
    .footer {
        width: 1300px;
        top: 1150px;
        margin-left: 70px;
        position: relative;
        text-align: center;
        .footer-butt{
            font-size: 16px;
            font-weight: 400;
            color: #000000;
            margin-top: 20px;
            display: inline-block;
            padding: 20px 80px;
            border-radius: 27px;
            filter: drop-shadow(1.91px 10.833px 10px rgba(20,20,21,0.07));
            background-color: #fdfdfd;
            border: 1px solid rgba(1,2,2,0.07);       
        }
        .footer-logo{
            ul{
                display: flex;
                margin-top: 50px;
                li{
                    margin-right: 28px;
                    a{
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background-color: #b3b1b1;
                        position: relative;
                        border-radius: 50%;
                        &:hover{
                            background-color: $orange;
                        }
                        img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
            }
            p{	
                display: block;
                margin-top: 45px;
                font-size: 17px;
                font-weight: 400;
            }
        }
    }
}
      



